


body {
  color:blue;
  letter-spacing: 0.5px;
  background-color: lightseagreen;
  font-family: cursive, Helvetica, comic sans, Georgia, "Trebuchet MS", Verdana, sans-serif;
}

/* navigation */

.main-header {
  text-align: center;
  text-shadow: 2px 2px 6px cyan;
  border: solid white 3px;
  border-radius: 5px;
  box-shadow: 4px 8px 6px black;
  color: navy;
  background-color: gray;
  font-family: cursive, Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/* containers */

* {
  box-sizing: border-box;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

/* welcome line */

h2 {
  border-collapse: separate;
  border: solid snow 2px;
  border-radius: 0px;
  text-align: center;
}

/* cat links */

.meet-cats{
  text-align: center;
  list-style: none;
}

/* footer */

.main-footer{
  text-align: center;
  padding: 2em 0;
  background-color: gray;
}


/* =====================================================
    Media Queries
===================================================== */

@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
